/* MODULE: router */

/* file: router.css */

/* end module router */
/* MODULE: button */
.b-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  padding: 0 12px;
  margin: 0 6px 2px 0;
  outline: none;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  vertical-align: top;
  line-height: 30px;
  color: #333;
  background: #f6f6f6;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#fdfdfd), to(#f6f6f6));
  background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #f6f6f6 100%);
  background-image: linear-gradient(to bottom, #fdfdfd 0%, #f6f6f6 100%);
  cursor: pointer;
}

.b-button:hover {
  background: #f0f0f0;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#fbfbfb), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #fbfbfb 0%, #f0f0f0 100%);
  background-image: linear-gradient(to bottom, #fbfbfb 0%, #f0f0f0 100%);
}

.b-button:active {
  background: #fbfbfb;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#f0f0f0), to(#fbfbfb));
  background-image: -webkit-linear-gradient(top, #f0f0f0 0%, #fbfbfb 100%);
  background-image: linear-gradient(to bottom, #f0f0f0 0%, #fbfbfb 100%);
}

.b-button:disabled,
.b-button__disabled {
  background: #f6f6f6;
  color: #c9c9c9;
  border-color: #f2f2f2;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.b-button__blue {
  border: none;
  color: #fff;
  background: #3e74b8;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#5690d9), to(#3e74b8));
  background-image: -webkit-linear-gradient(top, #5690d9 0%, #3e74b8 100%);
  background-image: linear-gradient(to bottom, #5690d9 0%, #3e74b8 100%);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.b-button__blue:hover {
  background: #367bd2;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#3c8aec), to(#367bd2));
  background-image: -webkit-linear-gradient(top, #3c8aec 0%, #367bd2 100%);
  background-image: linear-gradient(to bottom, #3c8aec 0%, #367bd2 100%);
}

.b-button__blue:active {
  background: #3c8aec;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#367bd2), to(#3c8aec));
  background-image: -webkit-linear-gradient(top, #367bd2 0%, #3c8aec 100%);
  background-image: linear-gradient(to bottom, #367bd2 0%, #3c8aec 100%);
}

.b-button__blue:disabled {
  background: #c7d9f0;
  color: #e4edf8;
}
/* file: b-button.css */
.b-button_icon {
  display: inline-block;
  margin: 0 4px 0 0;
  width: 18px;
  height: 28px;
  background: center center no-repeat;
  vertical-align: top;
}

.b-button:disabled > .b-button_icon,
.b-button__disabled > .b-button_icon {
  opacity: 0.3;
}

.b-button_icon__cat {
  background-image: url(../i/button/cat.png);
}
/* file: b-button_icon.css */

/* end module button */
/* MODULE: datepicker */
.b-input__datepicker {
  width: 110px;
}

.b-datepicker_button {
  height: 26px;
  width: 26px;
  padding: 0;
  border-radius: 50%;
  margin: 2px 0 0 0;
  text-align: center;
}

.b-datepicker_button_icon {
  background: url('../i/datepicker/prevnext.png') no-repeat;
  display: inline-block;
  width: 18px;
  height: 18px;
}

.b-datepicker_button_icon__prev {
  background-position: -7px -6px;
}

.b-datepicker_button_icon__next {
  background-position: -38px -6px;
}
/* file: datepicker.css */
.Zebra_DatePicker {
  display: none;
  border: 1px solid #e3e3e3;
  position: absolute;
  z-index: 1000;
  background: white;
  -webkit-box-shadow: 0 3px 18px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.15);
  line-height: 28px;
}

/* = GLOBALS
----------------------------------------------------------------------------------------------------------------------*/

.Zebra_DatePicker table {
  border-collapse: collapse;
  border-spacing: 0;
}

.Zebra_DatePicker td,
.Zebra_DatePicker th {
  text-align: center;
}

.Zebra_DatePicker td {
  cursor: pointer;
}

.Zebra_DatePicker .dp_daypicker,
.Zebra_DatePicker .dp_monthpicker,
.Zebra_DatePicker .dp_yearpicker {
  border-collapse: separate;
  padding: 0 7px 7px 7px;
}

.Zebra_DatePicker .dp_daypicker td,
.Zebra_DatePicker .dp_daypicker th,
.Zebra_DatePicker .dp_monthpicker td,
.Zebra_DatePicker .dp_yearpicker td {
  width: 35px;
  height: 35px;
  border: 1px solid #f2f2f2;
  border-left: none;
  border-top: none;
  line-height: 35px;
}

.Zebra_DatePicker .dp_daypicker td:first-of-type,
.Zebra_DatePicker .dp_monthpicker td:first-of-type,
.Zebra_DatePicker .dp_yearpicker td:first-of-type {
  border-left: 1px solid #f2f2f2;
}

.Zebra_DatePicker .dp_daypicker th {
  border: none;
  border-bottom: 1px solid #f2f2f2;
  font-weight: normal;
  text-transform: capitalize;
  font-size: 12px;
  color: #85939a;
}

.Zebra_DatePicker,
.Zebra_DatePicker .dp_header .dp_hover,
.Zebra_DatePicker .dp_footer .dp_hover {
  border-radius: 3px;
}

/* = HEADER
----------------------------------------------------------------------------------------------------------------------*/

.Zebra_DatePicker .dp_header {
  padding: 0 7px;
  background: #f7f8fa;
  border: 5px solid #f7f8fa;
  border-radius: 3px 3px 0 0;
  border-collapse: separate;
  border-spacing: 6px;
}

.Zebra_DatePicker .dp_header td {
  cursor: pointer;
}

.Zebra_DatePicker .dp_header .dp_previous,
.Zebra_DatePicker .dp_header .dp_next {
  width: 25px;
}

.Zebra_DatePicker .dp_header .dp_caption {
  border-radius: 3px;
  line-height: 28px;
  font-size: 12px;
}

.Zebra_DatePicker .dp_header .dp_hover {
  background: none;
}

.Zebra_DatePicker .dp_header .dp_blocked {
  color: #888;
  cursor: default;
}

/* = DATEPICKER
----------------------------------------------------------------------------------------------------------------------*/

.Zebra_DatePicker td.dp_not_in_month {
  color: #fff;
  cursor: default;
}

.Zebra_DatePicker td.dp_not_in_month_selectable {
  background: #F3F3F3;
  color: #CDCDCD;
  cursor: pointer;
}

.Zebra_DatePicker td.dp_selected {
  background: #8399b5;
  color: #fff;
  font-weight: bold;
}

.Zebra_DatePicker td.dp_week_number {
  color: #808080;
  cursor: text;
  font-style: italic;
}

/* = MONTHPICKER
----------------------------------------------------------------------------------------------------------------------*/

.Zebra_DatePicker .dp_monthpicker td {
  width: 33%;
}

/* = YEARPICKER
----------------------------------------------------------------------------------------------------------------------*/

.Zebra_DatePicker .dp_yearpicker td {
  width: 33%;
}

/* = FOOTER
----------------------------------------------------------------------------------------------------------------------*/

.Zebra_DatePicker .dp_footer {
  margin-top: 3px;
}

.Zebra_DatePicker .dp_footer .dp_hover {
  background: #e0e5ed;
}

/* = SELECT CURRENT DAY
----------------------------------------------------------------------------------------------------------------------*/

.Zebra_DatePicker .dp_today {
  color: #FFF;
  padding: 3px;
}

/* = CLEAR DATE
----------------------------------------------------------------------------------------------------------------------*/

.Zebra_DatePicker .dp_clear {
  color: #FFF;
  padding: 3px;
}

/* = SOME MORE GLOBALS (MUST BE LAST IN ORDER TO OVERWRITE PREVIOUS PROPERTIES)
----------------------------------------------------------------------------------------------------------------------*/

.Zebra_DatePicker td.dp_current {
  color: #C40000;
}

.Zebra_DatePicker td.dp_disabled_current {
  color: #E38585;
}

.Zebra_DatePicker td.dp_disabled {
  background: #F3F3F3;
  color: #CDCDCD;
  cursor: default;
}

.Zebra_DatePicker td.dp_hover {
  background: #e0e5ed;
}

/* = ICON
----------------------------------------------------------------------------------------------------------------------*/

.Zebra_DatePicker_Icon {
  display: block;
  margin: 0 0 0 3px;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  outline: none;
  background: url('../i/datepicker/calendar.png') no-repeat center center;
  -webkit-transition: background-image 0.4s ease;
  transition: background-image 0.4s ease;
  text-indent: -9000px;
  line-height: 0;
  vertical-align: top;
  cursor: pointer;
  position: absolute;
}

.Zebra_DatePicker_Icon:hover {
  background-image: url('../i/datepicker/calendar-hover.png');
}

.Zebra_DatePicker_Icon_Disabled,
.Zebra_DatePicker_Icon_Disabled:hover {
  background-image: url('../i/datepicker/calendar-disabled.png');
  cursor: default;
}

.Zebra_DatePicker_Icon_Inside {
  margin: 0 10px 0 0;
}
/* file: zebra-theme.css */

/* end module datepicker */
/* MODULE: scrollbar */
.b-scrollbar {
  float: left;
  overflow: auto;
  height: 300px;
  width: 180px;
  margin: 0 10px 0 0;
  border: 1px solid #e1e1e1;
}

.b-scrollbar p {
  margin: 5px 10px 0px 10px;
  padding: 0 0 0 0;
}

.b-scrollbar:disabled,
.b-scrollbar__disabled {
  border-color: #f2f2f2;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #c9c9c9;
  cursor: default;
  background: #fff;
}

.b-scrollbar__disabled .jspTrack {
  position: relative;
  padding: 4px;
  cursor: default;
  background: #f9f9f9;
}

.b-scrollbar__disabled .jspDrag {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 5px;
  background: #f1f1f1;
  cursor: pointer;
  cursor: default;
}

.b-scrollbar__disabled .jspDrag:hover {
  background: #f1f1f1;
  cursor: default;
}

.b-scrollbar__disabled .jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 100%;
  border-left: 1px solid #f2f2f2;
  background: #d4d4d4;
  cursor: default;
}
/* file: scrollbar.css */

/* end module scrollbar */
/* MODULE: header */
.b-header {
  position: relative;
  width: 100%;
}

.b-header,
.b-header-content {
  height: 40px;
  line-height: 40px;
}

.b-header-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px 0 0;
  background: #3c4448;
  color: #bfc8cd;
  font-size: 13px;
}

.b-header_right {
  float: right;
}

.b-header_block {
  display: inline-block;
  height: 40px;
  padding: 0 9px;
  vertical-align: top;
}

.b-header_block__first {
  padding-left: 5px;
  border-right: 1px solid #363d41;
}

.b-header_block__second {
  border-left: 1px solid #4d5458;
}

.b-header_title {
  margin: 0;
  padding: 0 0 0 100px;
  font-size: 13px;
  font-weight: normal;
  color: #fff;
  background: url('../i/header/logo.png') left center no-repeat;
}

.b-header_page {
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  text-transform: lowercase;
}



.b-header_button__active {
  font-weight: bold;
  color: #fff;
  cursor: default;
}
/* file: header.css */

/* end module header */
/* MODULE: tabs */


.b-tabs-menu {
  list-style: none;
  display: block;
  margin: 0;
  padding: 10px 30px 0;
  border-bottom: 1px solid #e0e0e0;
}

.b-tabs-item {
  display: inline-block;
  height: 33px;
  line-height: 33px;
  margin: 0 0 -1px;
  padding: 0 14px;
  border: 1px solid #e0e0e0;
  border-left: none;
  color: #808080;
  background: #f2f3f5;
  cursor: pointer;
}

.b-tabs-item:first-child {
  border-left: 1px solid #e0e0e0;
  border-radius: 2px 0 0 0;
}

.b-tabs-item:last-child {
  border-radius: 0 2px 0 0;
}

.b-tabs-item:hover,
.b-tabs-item__active {
  background: white;
}

.b-tabs-item__active {
  border-bottom: none;
  height: 34px;
  color: #000;
  font-weight: bold;
}

.b-tabs-link {
  color: inherit;
  text-decoration: none;
}

.b-tabs-link:hover {
  text-decoration: none;
}

.b-tabs-body {
  padding: 30px;
}

.b-tabs-content {
  position: relative;
}
/* file: tabs.css */

/* end module tabs */
/* MODULE: dropdown */
.b-dropdown {
  position: relative;
  display: block;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
  padding: 0 25px 0 10px;
  border-radius: 5px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.b-dropdown:hover {
  color: #fff;
}

.b-dropdown__mini {
  height: 40px;
  line-height: 40px;
  margin-top: 0;
  padding: 0 10px;
  border-radius: 0;
  border: none;
}

.b-dropdown__mini:hover {
  background: #2c3336;
  color: inherit;
}

.b-dropdown__opened,
.b-dropdown__opened:hover {
  z-index: 101;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #e3e3e3;
  background: #f2f3f5;
  color: #000;
}

.b-dropdown__mini.b-dropdown__opened {
  border-radius: 0;
  border-bottom: none;
  background: #2c3336;
  color: inherit;
}

.b-dropdown_arrow {
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -1px;
  display: block;
  width: 9px;
  height: 5px;
  background: url('../i/dropdown/arrow.png') 0 0 no-repeat;
}

.b-dropdown__opened .b-dropdown_arrow {
  background-position: 0 bottom;
}

.b-dropdown_title {
  background: transparent 0 center no-repeat;
}

.b-dropdown_list {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0 0 5px 0;
  border-radius: 0 5px 5px 5px;
  list-style: none;
  z-index: 100;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  overflow: hidden;
}

.b-dropdown_list__hidden {
  display: none;
}

.b-dropdown_item {
  display: block;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  cursor: pointer;
}

.b-dropdown_item:hover {
  /*
	background: #8399b5;
	color: #fff;
	*/
  background: #e0e5ed;
  color: #000;
}

.b-dropdown_item:active,
.b-dropdown_item__active {
  background: #8399b5;
  color: #fff;
}

.b-dropdown_item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: inherit;
}
/* file: dropdown.css */

/* end module dropdown */
/* MODULE: fixed */
.b-fixed {
  position: relative;
}

.b-fixed__fixed {
  position: fixed;
  top: 0;
  z-index: 100;
}

.b-fixed-container {
  width: 100%;
  max-width: 1240px;
  overflow: auto;
}

.b-fixed__inline {
  display: inline-block;
  width: auto;
}
/* file: fixed.css */

/* end module fixed */
/* MODULE: footer */
.b-footer_push,
.b-footer {
  display: block;
  width: 100%;
  height: 22px;
  margin: 0 auto;
  padding: 10px 0;
}

.b-footer {
  position: relative;
  text-align: center;
  font-size: 12px;
  background: #3C4448;
}

.b-footer__sticked {
  position: absolute;
  bottom: 0;
}

.b-footer_block {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 15px;
  border-right: 1px #d7d7d7 solid;
}

.b-footer_block__last {
  padding-right: 0;
  border-right: none;
}

.b-footer_link {
  color: #8fb8f5;
}

.b-footer_logo {
  display: inline-block;
  width: 110px;
  height: 18px;
  background: url('../i/footer/logo.png') 0 0 no-repeat;
}

.b-footer_logo,
.b-footer_logo:hover {
  text-decoration: none;
}
/* file: footer.css */

/* end module footer */
/* MODULE: select */

/* file: select.css */

/* end module select */
/* MODULE: title */
.b-title {
  position: relative;
}

.b-title_text {
  display: block;
  margin: 0;
  padding: 0;
}
/* file: title.css */

/* end module title */
/* MODULE: loader */
@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0turn);
    transform: rotate(0turn);
  }

  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0turn);
    -ms-transform: rotate(0turn);
    transform: rotate(0turn);
  }

  100% {
    -webkit-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.b-loader_curtain {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9997;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
}

.b-loader_block {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9998;
  margin-top: -40px;
  margin-left: -42px;
  display: block;
  width: 83px;
  height: 130px;
  color: #464646;
  text-align: center;
}

.b-loader_block__element,
.b-loader_curtain__element {
  position: absolute;
}

.b-loader {
  z-index: 9999;
  display: block;
  width: 83px;
  height: 80px;
  margin-bottom: 30px;
  background: url('../i/loader/loader.png') center top no-repeat;
  -webkit-animation: rotating 3s linear infinite;
  animation: rotating 3s linear infinite;
}
/* file: loader.css */

/* end module loader */
