/* MODULE: tabs */
.b-tabs-item {
  zoom: 1;
  *display: inline;
}
/* file: tabs.ie.css */

/* end module tabs */
/* MODULE: footer */
.b-footer_block {
  display: inline;
  zoom: 1;
}
/* file: footer.ie.css */

/* end module footer */
